body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bolder;
  font-size: 150%;
  color: white;
}
*{
  padding: 10px;
}
  html{
    scroll-behavior: smooth;
  }
  header{
    position: fixed;
    display: flex;
    width: 100%;
    top: 0;
    justify-content: space-evenly;
    z-index: 4;
    background-color: black; 
  }
  header :hover{
    text-decoration: underline orange;
  }
a{
    text-decoration: none;
    color: white;
    
    
    
}
.home{
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
}
.home h1{
  color: #FFDE59;
  font-size: 600%;
  margin-top: 10rem;
}
.home p{
  margin-top: 25rem;
  margin-left:-20rem;
  font-size: 150%;
  background: linear-gradient(to bottom, black 0%, grey 100%);
  box-shadow: 2px 1px 20px rgba(255, 255, 255, 0.863);
  height: 3rem;
  border-radius: 2rem;
  
}
.home img{
  margin-left: 10rem;
}
.about{
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-content: center;

}
.about p{
  background: linear-gradient(to bottom, black 0%, grey 100%);
  box-shadow: 2px 1px 20px rgba(255, 255, 255, 0.863);
  height: 5rem;
  border-radius: 2rem;
  padding: 2rem;
}
.about img{
  width: 20%;
  height: 30%;
  border-radius: 50%;
}
.skills{
  align-items: center;
  display: flex;
  height: 100vh;
  gap: 2rem;
}
.Ms{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: 18rem;
  border-radius: 1rem;
  border:  0.1rem solid white;
  border-width: 0.1rem;
  background-color: black;
  padding: 1rem;
  box-shadow: 2px 1px 20px rgba(255, 255, 255, 0.863); 
}
.Ms p{
  justify-content: center;
}
.skills img{
  width: 50%;
}
.project{
  align-items: center;
  display: flex;
  height: 100vh;
  gap: 2rem;
}
.project img{
  width: 50%;
}
.Mp{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: 18rem;
  border-radius: 1rem;
  border:  0.1rem solid white;
  border-width: 0.1rem;
  background-color: black;
  padding: 1rem;
  box-shadow: 2px 1px 20px rgba(255, 255, 255, 0.863); 
}
.contact{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  height: 100vh;

}
.Ct{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: 18rem;
  border-radius: 1rem;
  border:  0.1rem solid white;
  border-width: 0.1rem;
  background-color: black;
  padding: 2rem;
  box-shadow: 2px 1px 20px rgba(255, 255, 255, 0.863);
}
.contact img{
  width: 30%;
}

/* header {
    width: 1400px;
    display: flex;
    background-color: black;
    justify-content: space-evenly;
    padding: 5px;
    padding-right: 20px;
    border-radius: 22px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-size: 150%;
    position: fixed;
    top: 0px;
    right: 20px;
    z-index: 4;
}
header :hover{
  text-decoration: underline orange;
}
.Hireme p :hover{
  background-color: white;
}

h3 {
  color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: yellow;
  position: relative;
  left: 400px;
  border-radius: 40px;
  border-color: black;
  width: 80px;
  top: 200px
}
.fsd{
  position: absolute;
  top: 480px;;
}
p {
  font-weight: bolder;
  color: white;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  box-shadow: 2px 1px 20px rgba(255, 255, 255, 0.863);
  position: relative;
  top: 180px;
  left: 250px;
  padding: 1rem;
}
h1{
  color: #FFDE59;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-weight: bold;
  font-size: 300%;
  position: relative;
  left: 100px;
  top: 200px;
padding: 1rem;}
img {
    position: relative;
    left: 800px;
    bottom: 10px; 
  }
  .myskills{
    color: white;
    border: white;
    border-style: solid;
    border-width: 2px;
    border-radius: 70px;
    font-weight: bolder;
    padding: 6px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 120%;
    background-color: black;
    position: absolute;
    left: 450px;
    top: 640px;   
  }
  .about{
    box-shadow: 2px 1px 20px yellow;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    background: linear-gradient(to bottom, black 0%, grey 100%);
    border-radius: 50px;
    width: fit-content;
  }
  
  .skills{ */
    /* box-shadow: 2px 1px 20px yellow; */
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolderx;
    background: linear-gradient(to bottom, black 0%, grey 100%);
    border-radius: 50px;
    width: fit-content;
    scroll-margin: 100px;
  }
  .Contact{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    background: linear-gradient(to bottom, black 0%, grey 100%);
    border-radius: 50px;
    width: fit-content; 

  }
  .enthusiated{
    position: relative;
    top: 260px;
    left: 3rem;
    padding: 2rem;
  }
  .container0{
    height: 100vh;
  }
  .container1{
    height: 100vh;
  }
  .container2{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
       gap: 1rem;
       height: 100vh;
  }
  .container3{
    display: flex;
    flex-direction: column;
    align-content: center;
    height: 80vh;
   
  }
  .Ct{
    background-color: rgba(44, 42, 42, 0.922);
    border-radius: 30px;
    width: fit-content;
    justify-content: center;
  }
  p{
  color: white;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
  left: 500px;
  top: 130px;
  font-size: xx-large;
  background: linear-gradient(to bottom, black 0%, grey 100%);
    border-radius: 40px;
    width: fit-content;
}
.Pranesh{
  color: #FFDE59;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 150px;
  position: absolute;
  left: 100px;
  top: 200px;
 
}
.Hireme{
  color: rgb(6, 6, 0);
  border: black;
  border-width: 2px;
  border-radius: 70px;
  padding: 6px;
  background-color: #FFDE59;
  position: absolute;
  left: 300px;
  top: 620px;
} */ */